/* work sans fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-color-Linear , 
.text-title-color{
    color: #FF42A5;
}

/* header styles */
header{
    background-color: white;
}

nav {
    padding: 20px 150px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;

}

nav .logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;

}

nav img{
    width:60px;
    height: 30px;
}

nav > ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.follow{
    min-height: 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}
.red-youtube{
    color: red;
    margin-left: 10px;
    margin-right: 10px;

}
nav li{
    list-style: none;
    margin-left: 20px;
    font-size: 0.8rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #3C354F;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 150px 0 150px;

}
.banner-content{

}

.banner-title{
    color: #0B0223;
    font-size: 1.8rem;
    font-weight: 600;
    
}
.main-title{
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.banner-description{
    color: #534C64;
    font-size: 14px;
    font-weight: 500;


}
.banner-btn-1{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    padding: 10px 20px;
    }

.banner-btn-2{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 10px 20px;
    margin-left: 10px;
    }

.banner a{
    text-decoration: none;
    color: #FFF;
}

.banner img{
    width: 50%;
}

/* online games funny vedio section styles */

.o-g-f-v-container{
    padding: 100px;
}

.o-g-f-v-title{
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;;
    text-align: center;
}
.title-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.o-g-f-v-description{
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 15px;

}
.game-pic{
    width: 300px;
}
.game-pic p{
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
}
.game-pic img{
    width: 250px;
}

/* play instantly section styles */

.play-instantly{
    padding-left: 220px;
    padding-right: 90px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
}

.text-content{
    padding-top: 80px;
}

.text-title{
    text-align: right;
    font-size: 35px;
    font-weight: 700;
}
.text-description{
    color: #534C64;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}

.play-instantly-pic-55{
    width: 450px;
    height: 60%;
}

.play-instantly-pic-66{
    width: 220px;
    height: 280px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 250px;
    right: 200px;
    
}

/*card section styles  */

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    padding: 100px 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.card-container a{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    text-decoration: none;
    align-items: center;
    padding-bottom: 30px;

}
.card-container a  p{
    align-items: center;
    padding-left: 20px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 12px;
    font-weight: 600;
}
.card-container a img{
    width: 40px;
}

/* footer section styles */

footer{
    background-color: rgb(165, 186, 191);

}

.footer-section {

}

footer .logo{
    /* padding: 60px 500px 20px 500px; */
    padding: 60px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.footer-description{
    display: flex;
    gap: 30px;
    /* padding:0px 250px 10px 320px; */
    padding-bottom: 20px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
.footer-description a{
    text-decoration: none;
    color:black;
}

.btn-container{
    /* padding: 10px 450px 20px 450px; */
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.btn-container > a{
    padding-left: 25px;
}

.footer-text{
    display: flex;
    justify-content: center;


}

.footer-text a{
    text-decoration: none;
    padding-left: 30px;
    color: black;
    font-size: 12px;
    font-weight: 500;
}

.footer-last-text{
    color:black;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 80px
;
}
/*  mobile device query styles */
@media screen and (max-width:576px) {
    nav,
    nav .logo,
    nav > ul,
    .banner {
        flex-direction: column;

    }
    nav{
        
    }
    nav img{
        width: 100%;
    }
    .banner{
        padding: 20px;
        margin: 20px;
    }
}
